<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HEADLESS</key>
		<string>1</string>
		<key>LANG</key>
		<string>ja_JP.UTF-8</string>
		<key>LC_ALL</key>
		<string>ja_JP.UTF-8</string>
		<key>PATH</key>
		<string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
		<key>SKIP_DATES</key>
		<string></string>
	</dict>
	<key>Label</key>
	<string>com.gen.lineworks.cred</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/genfukuhara/cred/.venv/bin/python</string>
		<string>/Users/genfukuhara/cred/run_if_business_day.py</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/genfukuhara/cred/cron_logs/run_if_business_day.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/genfukuhara/cred/cron_logs/run_if_business_day.out.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>17</integer>
			<key>Minute</key>
			<integer>35</integer>
			<key>Weekday</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>17</integer>
			<key>Minute</key>
			<integer>35</integer>
			<key>Weekday</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>17</integer>
			<key>Minute</key>
			<integer>35</integer>
			<key>Weekday</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>17</integer>
			<key>Minute</key>
			<integer>35</integer>
			<key>Weekday</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>17</integer>
			<key>Minute</key>
			<integer>35</integer>
			<key>Weekday</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/genfukuhara/cred</string>
</dict>
</plist>
